body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 200vh;

  /* padding-top: 40px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  height: 400px;
  padding: 20px;

  margin-left: auto;
  margin-right: auto;

  background-color: lightblue;
}

.box-1,
.box-2,
.box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;

  font-size: 2em;
  color: white;

  background-color: hotpink;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-2 {
  background-color: lightgreen;
}

.box-3 {
  background-color: darkviolet;
}

/**
  |============================
  | Positioning properties
  |============================
*/
/* .box-2 {
  position: relative;
  top: 100px;
  left: 100px;
} */

.container {
  position: relative;
}

.box-2 {
  /* position: absolute; */
  top: 75px;
  right: 75px;

  /* z-index: 10; */

  /* top: -50%;
  right: -50%;
  transform: translate(); */
}

.box-3 {
  /* position: relative; */
}

.btn {
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 50px;
  height: 50px;

  color: white;
  background-color: hotpink;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header {
  position: sticky;
  top: -1px;
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 1.2em;
  color: white;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  background-color: lightcoral;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  z-index: 10;
}

.header-container {
  width: 900px;
  margin: 0 auto;
}

/**
  |============================
  | z-index
  |============================
*/

section {
  margin-top: 100px;
}

/**
  |============================
  | overflow
  |============================
*/
.overflow-box {
  /* width: 200px; */
  margin: 0 auto;
  background-color: teal;

  /* overflow: scroll; */
}

.overflow-text {
  margin-bottom: 20px;

  width: 400px;
  height: 100px;
  margin: 0 auto;

  overflow: auto;

  outline: 2px dashed red;
}

.bg-text {
  width: 400px;
  margin: 0 auto;
  color: tomato;
  background-color: aquamarine;
}

/* image overflow */

img {
  margin-top: -50px;

  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  width: 250px;
  height: 250px;

  margin: 0 auto;
  margin-top: 30px;

  overflow: hidden;

  /* border: 1px solid red; */
  border-radius: 50%;
}
